<%- include('../include/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/research_fields/researchFieldsMain.css" />
    <link rel="stylesheet" href="/stylesheets/research_fields/researchFieldsDetail.css" />
    <section>
        <div id="indexbg" class="mb-5"></div>
        <div id="indexbg_text">
            <h1 class="fs-1">연구 분야</h1>

        </div>
        <div class="container-fluidp-3 p-3">
            <div class=" row">
                <div id="researchDetailContent" class="col-12">
                    <h3 class="mb-5" align=center>
                        <%=db_data[0].title_ko%>
                    </h3>
                    <article class="container">

                        <table class="table table-responsive-sm text-center">
                            <tbody>
                                <tr>
                                    <th>논문명</th>
                                    <td colspan="3">
                                        <%=db_data[0].title_ko%>
                                    </td>
                                </tr>
                                <tr>
                                    <th>학술지명</th>
                                    <td>
                                        <%=db_data[0].journal_ko %>
                                    </td>
                                    <th>발행기관</th>
                                    <td>
                                        <%=db_data[0].media_ko%>
                                    </td>
                                </tr>
                                <tr>
                                    <th>저자명</th>
                                    <td colspan="3">
                                        <%=db_data[0].writer_ko%>
                                    </td>

                                </tr>
                                <tr>
                                    <th>SCI/비SCI 구분</th>
                                    <td>
                                        <%=db_data[0].group_id%>
                                    </td>
                                    <th>Vol(NO)</th>
                                    <td>
                                        <%=db_data[0].application_num%>
                                    </td>
                                </tr>
                                <tr>
                                    <th>게재일</th>
                                    <td>
                                        <%=db_data[0].application_date%>
                                    </td>
                                    <th>국명</th>
                                    <td>
                                        <%=db_data[0].announe_nation_ko%>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </article>

                </div>
            </div>
            <div class="container">
                <a type="button" class="btn btn-outline-secondary" href="javascript:history.back();">목록</a>

                <a type="button" class="btn btn-outline-danger"
                    href="/research/results/treatise/delete?num=<%=db_data[0].rrid%>"style ="float: right;">삭제</a>
                <a type="button" class="btn btn-outline-secondary"
                    href="/research/results/treatise/modify?num=<%=db_data[0].rrid%>" >수정</a>
            </div>
        </div>
        </div>
        </div>

        </div>
    </section>
    <%- include('../include/footer.ejs') %>