<%- include('../include/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/research_fields/researchFieldsMain.css" />
    <link rel="stylesheet" href="/stylesheets/research_fields/researchFieldsDetail.css" />
    <section>
        <form method="post" action="/research/results/announcement/modify?num=<%=db_data[0].rrid%>">
            <div id="indexbg" class="mb-5"></div>
            <div id="indexbg_text">
                <h1 class="fs-1">연구 분야</h1>

            </div>
            <div class="container-fluidp-3 p-3">
                <div class=" row">
                    <div id="researchDetailContent" class="col-12">

                        <article class="container">

                            <table class="table table-responsive-sm text-center">
                                <tbody>
                                    <tr>
                                        <th>발표명</th>
                                        <td colspan="3">
                                            <input style="width: 100%; border: none;" type="text" name="title_ko"
                                                value="<%=db_data[0].title_ko%>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>발표일</th>
                                        <td colspan="3">
                                            <input style="width: 100%; border: none;" type="text"
                                                name="application_date" value="<%=db_data[0].application_date%>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>저자명</th>
                                        <td colspan="3">
                                            <input style="width: 100%; border: none;" type="text" name="writer_ko"
                                                value="<%=db_data[0].writer_ko%>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>학술대회명</th>
                                        <td colspan="3">
                                            <input style="width: 100%; border: none;" type="text" name="academic_ko"
                                                value="<%=db_data[0].academic_ko%>">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="align-middle ">국내외 구분</th>
                                        <td colspan="3">
                                            <input style="width: 100%; border: none;" type="text"
                                                name="announe_nation_ko" value="<%=db_data[0].announe_nation_ko%>">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div style="text-align: right; padding-right:6%">
                                <button type="submit" class="btn btn-outline-secondary">작성완료</button>
                        </article>

                    </div>
                </div>

            </div>
        </form>
    </section>
    <%- include('../include/footer.ejs') %>

        <script>
            flatpickr("input[type=datetime-local]", {});
        </script>