<%- include('../include/header.ejs') %>
<script src="/javascripts/research_fields/researchFieldsMain.js"></script>
<link rel="stylesheet" href="/stylesheets/research_fields/researchFieldsMain.css"/>

    <section>
        <div id="indexbg" class="mb-5"></div>
        <div id="indexbg_text">
            <h1 class="fs-1">연구 분야</h1>
           
        </div>
        <div class="container-fluidp-3 p-5">
            <div class="row">
                <div class="col-2">
                    <%- include('../include/researchFieldsNav.ejs') %>
                </div>
                <div id="researchContent" class="col-10">
                    <h3 class="mb-3" style="float:left;" ><b>연구 분야</b> (
                        <%if(parameters.type == "progress"){%>
                            진행 과제
                        <%}else if(parameters.type == "finish") {%>
                            완료 과제
                        <%}else{%>
                            전체
                        <%}%>)
                    </h3>
                    <form id="searchBOX" class="form-inline my-2 my-lg-0" style="float:right;" method="get" action="/research/fields?">
                        <input id="type" name="type" type="hidden" value="<%=parameters.type%>">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="schKeyword">
                        <input id="page" name="page" type="hidden" value="<%=parameters.page%>">
                        <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">Search</button>
                    </form>
                    
                    <table class="table table-responsive-sm table-hover text-center">
                        <thead>
                          <tr>
                            <th scope="col" width="10%">순번</th>
                            <th scope="col" width="40%">과제명</th>
                            <th scope="col" width="30%">사업명</th>
                            <th scope="col" width="20%">종료날짜</th>
                          </tr>
                        </thead>
                        <tbody>
                          <%for(var i=0; i<5; i++){%>
                            <% 
                                var svData = db_data[((parameters.page-1) * 5)+i];
                                if(svData==undefined) continue; 
                            %>
                            <tr onclick="location.href='/research/fields/detail?num=<%=svData.rfid%>'">
                                <td><%=db_data.length - (5 * (parameters.page-1)) -i%></td>
                                <td><%=svData.research_name_ko%></td>
                                <td><%=svData.business_name_ko%></td>
                                <td><%=dayjs(svData.date_end).format('YYYY-MM-DD');%></td>
                            </tr>
                          <%}%>
                        </tbody>
                      </table>

                      <div class="text-center">
                        <div class="btn-group">
                            <%if(parameters.page>1){%>
                                <a class="btn btn-outline-primary" onclick="privpage()">Priv</a>
                            <%}%>
                            <%for(var i = 1; i <= Math.ceil(db_data.length / 5 ); i++){%>
                                <a id="pagebtn<%=i%>" class="btn btn-outline-primary" aria-current="page" onclick="addpage(<%=i%>)"><%= i %></a>
                            <%}%>
                            <%if(parameters.page<=Math.ceil(db_data.length / 5 )-1){%>
                                <a class="btn btn-outline-primary" onclick="nextpage()">Next</a>
                            <%}%>
                        </div>
                      </div>

                      <div style="text-align: right; padding-right:6%"><a href="/research/fields/write" type="button"

                        class="btn btn-outline-secondary">작성하기</a>
                </div>
                </div>
              
            </div>
        </div>
    </section>
    <%- include('../include/footer.ejs') %>
    <script>
        $('#pagebtn<%=parameters.page%>').addClass("active");
    </script>